html, body{
	/*background: "images/newyork1.gif";*/
	/*background-image: linear-gradient(*/
	/*		rgba(255, 255, 255, 0.45),*/
	/*		rgba(255, 255, 255, 0.45)*/
	/*),url(images/newyork2.jpeg);*/
	font-family: sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


h1{
	display: block;
	overflow: hidden;
	font-size: 50px;
	/*background-color: #00285e;*/
	margin: 0;
	padding: 50px 25px 5px 25px;
	color: #00285e;
	font-family: 'Ubuntu', sans-serif;
}


p{
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 1.5;
	font-size: 18px;
	font-family: 'Gelasio', serif;
}

p a {
	text-decoration: none;
	color: #0000EE;
}

p a:hover{
	color: #93a7ba;
}


.sidenav {
	/*background: #002346;*/
	height: 50px;
	padding-bottom: 25px;
	text-align: center;
	border-top: 3.5px
	solid #96ba39;
	font-family: 'Ubuntu', sans-serif;
}

.sidenav a {
	font-size: 20px;
	text-decoration: none;
}

/*.sidenav a:hover {*/
/*	background-color: #004083;*/
/*}*/

.column {
	display:block;
	float: left;
	width: 20%;
	padding: 0;
}

.column a {
	display:block;
	font-size: 20px;
	color: #00285e;
	text-decoration: none;
	text-align: center;
	padding-top: 26px;
	padding-bottom: 25px;
}

.heading {
	margin: auto;
    width: 50%;
    padding: 50px 50px 25px 50px;
    text-align: center;
    font-size: 40px;
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}

/*
footer {
	margin-top: auto;
	height: 15px;
	background: #00285E;
	text-align: center;
	color: #fff;
	padding-top: 50px;
	font-family: 'Ubuntu', sans-serif;
}
*/

.container {
	display: flex;
	flex-direction: row;
	margin: 0px 50px;
}

.container img {
	max-width: 300px;
	max-height: 250px;
	width: auto;
	height: auto;
}

.body	{
	margin: 0 10% 50px 10%;
}

.calendar {
	text-align: center;
	margin-top: 50px;
}

table {
	width: 75%;
	margin: auto;
	border-collapse: collapse;
	padding-top: 20px;
	font-family: 'Gelasio', serif;
}

table th {
	font-family: 'Ubuntu', sans-serif;
}

table th, td {
	vertical-align: bottom;
	text-align: left;
	padding: 20px 10px;
}

tr:nth-child(even) {background: #F7F4EB}
tr:nth-child(odd) {background: #fff}

table img {
	width: 150px;
	float: right;
}

.contact {
	float: right;
	clear: right;
	padding-top: 10px;
}

.contact a {
	text-decoration: none;
}


.button {
	text-align: left;
	border-left: 3.5px solid #F45A1D;
	margin: 50px 20% 0px 20%;
	background-color: #002346;
	font-family: 'Ubuntu', sans-serif;
}

.drop:hover .dropmenu {
	display: block;
}

.button a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 15px 10px;
}

.dropmenu {
	margin-bottom: 100px;
	position: absolute;
	display: none;
	left: 26%;
	right: 26%;
	background-color: #93a7ba;
	font-family: 'Ubuntu', sans-serif;
}

.dropmenu a{
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px;
}

.dropmenu a:hover {
	background-color: #b6cce0;
}

#activities th {
	text-align: center;
	font-size: 18pt;
}

#activities tr {
	background-color: #fff;
}

#activities tr td {
	vertical-align: top;
	font-size: 18px;
}

#activities tr td img {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#activities {
	margin: auto;
}

#activities tr td p {
	text-align: center;
}

h2 {
	margin-left: 15%;
	padding: 0;
	margin-bottom: 0;
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style-type: none;
	font-family: 'Gelasio', serif;
}

ul li {
	margin-left: 15%;
	padding: 0px 0px 30px 0px;
	font-size: 18px;
}

ul li p {
	margin-left: 0;
	margin-right: 5%;
}

ul li a {
	text-decoration: none;
	color: #0000EE;
}

ul li a:hover {
	color: #93a7ba;
}
